#testimonial {

    .testimonial {

        > span {
            font-weight: 700;
            color: $gray-900;
        }

    }

    .avatar-wrapper {
        height: 3.5rem;
        width: 3.5rem;
        background-color: $white;
        border: 1px solid $blue-400;
        border-radius: 100vw;
        @include flexRow(center);
    }

    .avatar {
        height: 3rem;
        width: 3rem;
        border-radius: 100vw;
    }

    .name {
        font-size: $text-base;
        font-weight: 600;
        color: $blue-400;
    }

    .company {
        font-weight: 500;
        color: $gray-500;
    }

}