// ********************
// COLOR VARIABLES
// ********************

// BRAND COLORS
$blue-100: #18b2ff; // Secondary brand color used for accents and gradients
$blue-400: #0a7aff; // Primary brand color used for buttons and links

$orange-400: #ffbb00;
$red-400: #ff3366;

// DRIBBBLE
$dribbble-400: #EA4C89; // Color used for Dribbble links

// NEUTRALS
$black: #000000;
$white: #ffffff;

$gray-50: #f9fafb;
$gray-100: #f7fafc;
$gray-200: #edf2f7;
$gray-300: #e2e8f0;
$gray-400: #cbd5e0;
$gray-500: #a0aec0;
$gray-600: #718096;
$gray-700: #4a5568;
$gray-800: #2d3748;
$gray-900: #1a202c;

// TEXT COLORS
$prose-400: #374151;
$prose-500: #4b5563;
$prose-600: #111827;

// ********************
// FONT SIZE VARIABLES
// ********************

$text-xs: 0.75rem; // 12px
$text-sm: 0.875rem; // 14px
$text-base: 1rem; // 16px
$text-lg: 1.125rem; // 18px
$text-xl: 1.25rem; // 20px
$text-2xl: 1.5rem; // 24px
$text-3xl: 1.875rem; // 26px
$text-4xl: 2.25rem; // 36px
$text-5xl: 3rem; // 48px
$text-6xl: 3.75rem; // 60px
$text-7xl: 4.5rem; // 72px 
$text-10xl: 6rem; // 96px

// ********************
// GEN. SIZE VARIABLES
// ********************

$size-xs: 0.75rem; // 12px
$size-sm: 0.875rem; // 14px
$size-med: 1rem; // 16px
$size-lg: 1.125rem; // 18px
$size-xl: 1.25rem; // 20px
$size-2xl: 1.5rem; // 24px
$size-3xl: 1.875rem; // 26px
$size-4xl: 2.25rem; // 36px
$size-5xl: 3rem; // 48px
$size-6xl: 3.75rem; // 60px

