{{ define "main" }}

<!-- HERO SECTION -->
<section id="hero" class="section py-160">
    <div class="container">
        <div class="helmet text-center mx-auto">
            <p class="eyebrow mb-20" data-sal="slide-up" data-sal-duration="600">About</p>
            <h1 class="mb-20" data-sal="slide-up" data-sal-delay="200" data-sal-duration="600">I'm Alex 👋🏼 Nice to meet you!</h1>
            <p class="subtitle" data-sal="slide-up" data-sal-delay="400" data-sal-duration="600">If you have a project in mind or just want to chat, feel free to drop me a message. My time books up quickly, but I try to respond to each message within 48 hours.</p>
        </div>
    </div>
</section>

<!-- PHOTO SECTION -->
<section id="photo" class="section py-0">
    <div class="grid-cols-3">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
    </div>
</section>

<!-- CONTENT SECTION -->
<section id="prose" class="section py-120">
    <div class="container">
        <div class="prose mx-auto" data-sal="fade" data-sal-duration="600">
            {{ .Content }}
        </div>
    </div>
</section>

{{ partial "cta.html" . }}

{{ end }}