{{ define "main" }}

<!-- HERO SECTION -->

<section id="hero" class="section py-160">
    <div class="container">
        <div class="grid-cols-2">
            <div class="hero-left">
                <h1 class="mb-20">Knock your clients' <span class="highlight">socks off</span></h1>
                <p class="subtitle mb-40">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum incidunt commodi, ab dolorum distinctio placeat vero quam dolores ipsa aut qui facere natus, ullam enim laboriosam? Dolor quis vel numquam.</p>
                <a href="/" class="btn btn--primary">Let's get started</a>
            </div>
        </div>
    </div>
</section>

<!-- GRID SECTION -->
<section id="grid" class="section py-120">
    <div class="container">
        <div class="helmet-wide text-center mx-auto mb-80">
            <h2 class="mb-20">Everything you get</h2>
            <p class="subtitle">Here are some of the most common questions I get from prospective clients. If you have a question that isn't answered below, feel free to send me an email.</p>
        </div>
        <div id="features-grid" class="grid-cols-4">
            <div class="flex-col start">
                <h6 class="mb-20">Custom design</h6>
                <p class="text-base mb-20">Ornare donec rhoncus vitate nisl velit, neque, mauris dictum duis. Nibh urna non parturient.</p>
                <a href="/" class="link link--small">Link</a>
            </div>
            <div class="flex-col start">
                <h6 class="mb-20">Dead-simple CMS</h6>
                <p class="text-base mb-20">Ornare donec rhoncus vitate nisl velit, neque, mauris dictum duis. Nibh urna non parturient.</p>
                <a href="/" class="link link--small">Link</a>
            </div>
            <div class="flex-col start">
                <h6 class="mb-20">Reliable uptime</h6>
                <p class="text-base mb-20">Ornare donec rhoncus vitate nisl velit, neque, mauris dictum duis. Nibh urna non parturient.</p>
                <a href="/" class="link link--small">Link</a>
            </div>
            <div class="flex-col start">
                <h6 class="mb-20">On-page SEO</h6>
                <p class="text-base mb-20">Ornare donec rhoncus vitate nisl velit, neque, mauris dictum duis. Nibh urna non parturient.</p>
                <a href="/" class="link link--small">Link</a>
            </div>
            <div class="flex-col start">
                <h6 class="mb-20">Top-notch security</h6>
                <p class="text-base mb-20">Ornare donec rhoncus vitate nisl velit, neque, mauris dictum duis. Nibh urna non parturient.</p>
                <a href="/" class="link link--small">Link</a>
            </div>
            <div class="flex-col start">
                <h6 class="mb-20">Blazing speed</h6>
                <p class="text-base mb-20">Ornare donec rhoncus vitate nisl velit, neque, mauris dictum duis. Nibh urna non parturient.</p>
                <a href="/" class="link link--small">Link</a>
            </div>
            <div class="flex-col start">
                <h6 class="mb-20">Scalablity</h6>
                <p class="text-base mb-20">Ornare donec rhoncus vitate nisl velit, neque, mauris dictum duis. Nibh urna non parturient.</p>
                <a href="/" class="link link--small">Link</a>
            </div>
            <div class="flex-col start">
                <h6 class="mb-20">Responsiveness</h6>
                <p class="text-base mb-20">Ornare donec rhoncus vitate nisl velit, neque, mauris dictum duis. Nibh urna non parturient.</p>
                <a href="/" class="link link--small">Link</a>
            </div>
        </div>
    </div>
</section>

<!-- STRIPE SECTION -->

<section id="stripe" class="section py-80">
    <div class="tilt-wrapper top">
        <img src="/img/top-tilt.svg" alt="">
    </div>
    <div class="container">
        <div class="helmet mx-auto" data-sal="slide-up">
            <h2 class="mb-20" data-sal="slide-up">Ready to ditch the DIY website?</h2>
            <p class="subtitle mb-10" data-sal="slide-up">Sure, that $30 WordPress template might've worked just fine for you in the beginning. But now you're ready for more.</p>
            <p class="subtitle" data-sal="slide-up">You're ready to grow, scale, and automate your business so that new leads actually start coming to you––instead of the other way around. And for that, you need a new website.</p>
        </div>
    </div>
    <div class="tilt-wrapper bottom">
        <img src="/img/bottom-tilt.svg" alt="">
    </div>
</section>

<!-- FEATURE SECTION ONE -->

<section id="feature-one" class="section py-120">
    <div class="container">
        <div class="grid-cols-2">
            <div>
                <div class="logo-wrapper orange shadow-lg mb-20"></div>
                <h2 class="mb-20">Stay <span class="orange">focused</span> on your business</h2>
                <p class="text-2xl mb-20">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime quidem, incidunt cum est rem, dolores veritatis laudantium repudiandae facere quasi magnam iure hic, sint sapiente fuga nostrum fugiat aliquid necessitatibus!</p>
                <p class="text-lg mb-20">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, consequuntur. Repellat, quisquam magnam? Magnam eius tempore cupiditate tenetur a voluptate provident dignissimos. Odio quia aspernatur vitae eligendi pariatur molestias tempore.</p>
                <a href="" class="link link--small">Get started now</a>
            </div>
        </div>
    </div>
    <div class="tilt-wrapper bottom">
        <img src="/img/bottom-tilt-gray.svg" alt="">
    </div>
</section>

<!-- FEATURE SECTION TWO -->

<section id="feature-two" class="section bg-gray py-120">
    <div class="container">
        <div class="grid-cols-2">
            <div></div>
            <div>
                <div class="logo-wrapper blue shadow-lg mb-20"></div>
                <h2 class="mb-20">Save <span class="blue">money</span> on hosting and paid ads</h2>
                <p class="text-2xl mb-20">Do you want a salesperson who is always working, never gets tired, and can sell to <strong>thousands</strong> of clients at once?</p>
                <p class="text-lg mb-20">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, consequuntur. Repellat, quisquam magnam? Magnam eius tempore cupiditate tenetur a voluptate provident dignissimos. Odio quia aspernatur vitae eligendi pariatur molestias tempore.</p>
                <a href="" class="link link--small">Get started now</a>
            </div>
        </div>
    </div>
    <div class="tilt-wrapper bottom">
        <img src="/img/bottom-tilt.svg" alt="">
    </div>
</section>

<!-- FEATURE SECTION THREE -->

<section id="feature-three" class="section py-120">
    <div class="container">
        <div class="grid-cols-2">
            <div>
                <div class="logo-wrapper red shadow-lg mb-20"></div>
                <h2 class="mb-20">Rest <span class="red">easy</span> knowing your site is safe</h2>
                <p class="text-2xl mb-20">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime quidem, incidunt cum est rem, dolores veritatis laudantium repudiandae facere quasi magnam iure hic, sint sapiente fuga nostrum fugiat aliquid necessitatibus!</p>
                <p class="text-lg mb-20">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, consequuntur. Repellat, quisquam magnam? Magnam eius tempore cupiditate tenetur a voluptate provident dignissimos. Odio quia aspernatur vitae eligendi pariatur molestias tempore.</p>
                <a href="" class="link link--small">Get started now</a>
            </div>
        </div>
    </div>
</section>

<!-- TECH SECTION -->

<section id="tech" class="section py-120">
    <div class="container">
        <div class="helmet-wide text-center mx-auto mb-80">
            <h2 class="mb-20">The nerdy stuff</h2>
            <p class="subtitle">JAMstack technologies I use to push your business forward.</p>
        </div>
        <div class="flex-row center flex-wrap">
            <img src="/img/wordpress-logo.webp" alt="" class="logo">
            <img src="/img/netlify-logo.webp" alt="" class="logo">
            <img src="/img/do-logo.webp" alt="" class="logo">
            <img src="/img/hugo-logo.webp" alt="" class="logo">
            <img src="/img/strapi-logo.webp" alt="" class="logo">
            <img src="/img/webflow-logo2.webp" alt="" class="logo">
            <img src="/img/gridsome-logo.webp" alt="" class="logo">
        </div>
    </div>
</section>

<!-- PACKAGES SECTION -->

<section id="packages" class="section py-120">
    <div class="container">
        <div class="helmet-wide mx-auto mb-80 animated">
            <p class="eyebrow mb-20 reveal">Packages</p>
            <h2 class="mb-20 reveal">Options for all businesses</h2>
            <p class="subtitle mb-40 reveal">Just as there's no one-size-fits-all business, there's no one-size-fits-all website, either. That's why I've created two packages, each of which can be tailored to your specific business needs.</p>
            <div class="flex-row reveal">
                <a href="/" class="link">Learn more</a>
                <img src="/img/chevron.svg" alt="" class="chevron">
            </div>
        </div>
        <div class="grid-cols-2 mb-80 animated">
            <div class="packages-card shadow-2xl">
                <p class="eyebrow mb-20">Webflow</p>
                <h3 class="mb-20">$1900<span> min.</span></h3>
                <p class="card-text mb-20">The best option for small brochure-style websites! You'll receive a custom-designed static Webflow site that you can easily edit and manage yourself.</p>
                <ul class="mb-20">
                    <li><img src="/img/check-circle.svg" alt="" class="check mr-8">Design and development for up to six page layouts</li>
                    <li><img src="/img/check-circle.svg" alt="" class="check mr-8">Detailed brand style guide in PDF and AI formats</li>
                    <li><img src="/img/check-circle.svg" alt="" class="check mr-8">Best-in-class cloud hosting with CDN</li>
                    <li><img src="/img/check-circle.svg" alt="" class="check mr-8">Third-party API and webhook integrations</li>
                </ul>
                <a href="" class="btn btn--secondary btn--full">Let's get started</a>
            </div>
            <div class="card shadow-2xl">
                <p class="eyebrow mb-20">Wordpress</p>
                <h3 class="mb-20">$2850<span> min.</span></h3>
                <p class="card-text mb-20">Ideal for large-scale, dynamic websites, this package includes a custom-developed WordPress theme ready for all of your awesome content.</p>
                <ul class="mb-20">
                    <li><img src="/img/check-circle.svg" alt="" class="check mr-8">Custom WordPress theme tailored to your business</li>
                    <li><img src="/img/check-circle.svg" alt="" class="check mr-8">Basic WordPress performance and security measures</li>
                    <li><img src="/img/check-circle.svg" alt="" class="check mr-8">Hassle-free WordPress maintenance</li>
                    <li><img src="/img/check-circle.svg" alt="" class="check mr-8">Support for third-party plugins and other software</li>
                </ul>
                <a href="" class="btn btn--secondary btn--full">Let's get started</a>
            </div>
        </div>
        <div class="text-center">
            <a href="/" class="link link--small">Got something else in mind? Shoot me a message, and let's talk about it.</a>
        </div>
    </div>
</section>

<!-- TESTIMONIAL SECTION -->

<section id="testimonial" class="section pt-80 pb-200">
    <div class="container">
        <div class="helmet-wide mx-auto">
            <p class="testimonial mb-40">We hired Alex to take our design files and create a custom WordPress theme for our website. The theme looks great, and we are thrilled with the end result! <span>Alex was extremely helpful and professional throughout the entire process.</span> We are very happy with his work and would love to work with him again in the future.</p>
            <div class="flex-row center">
                <div class="avatar-wrapper shadow-lg mr-16">
                    <img src="/img/pardo.webp" alt="" class="avatar">
                </div>
                <div class="name-wrapper">
                    <p class="name mb-10">Eliav Perez</p>
                    <p class="company">Infinitude</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- FAQ SECTION -->

<section id="faq" class="section py-120">
    <div class="container">
        <div class="helmet-wide text-center mx-auto mb-80">
            <h2 class="mb-20">Frequently-asked questions</h2>
            <p class="subtitle">Here are some of the most common questions I get from prospective clients. If you have a question that isn't answered below, feel free to send me an email.</p>
        </div>
        <div class="accordion-wrapper">
            <div class="accordion mb-20" x-data="{ open: false }" @click="open = !open">
                <div class="flex-row between">
                    <p class="question">How much will my website cost?</p>
                    <img src="/img/chevron.svg" alt="">
                </div>
                <p class="answer mt-20" x-show.transition="open">The total cost of your website will depend on the amount of time required to design and develop your project. For example, a content-heavy website like an eCommerce store or a blog will cost more than a simple four-page marketing website. And a full-featured web application will cost more than both. During our introductory phone call, I'll gather detailed information about your project needs, and afterward I'll send over a custom proposal for your review.</p>
            </div>
            <div class="accordion mb-20" x-data="{ open: false }" @click="open = !open">
                <div class="flex-row between">
                    <p class="question">Will there be any ongoing costs associated with my website?</p>
                    <img src="/img/chevron.svg" alt="">
                </div>
                <p class="answer mt-20" x-show.transition="open">Yes, the two most common recurring costs are those associated with web hosting and the CMS. Altogether, these should run no more than $50 per month.</p>
            </div>
            <div class="accordion mb-20" x-data="{ open: false }" @click="open = !open">
                <div class="flex-row between">
                    <p class="question">How do I pay?</p>
                    <img src="/img/chevron.svg" alt="">
                </div>
                <p class="answer mt-20" x-show.transition="open">All payments are processed through <a href="https://stripe.com">Stripe,</a> which accepts Visa, MasterCard, American Express, Apple Pay, and ACH bank transfer. A 50% deposit is required before beginning the project, and the remainder will be invoiced upon completion of the project.</p>
            </div>
            <div class="accordion mb-20" x-data="{ open: false }" @click="open = !open">
                <div class="flex-row between">
                    <p class="question">What's the average turnaround time for a website?</p>
                    <img src="/img/chevron.svg" alt="">
                </div>
                <p class="answer mt-20" x-show.transition="open">On average, I try to shoot for a six- to eight-week turnaround. But the pace of each project is set by the client as well as the complexity of the project. An estimated project timeline is included in each proposal.</p>
            </div>
            <div class="accordion mb-20" x-data="{ open: false }" @click="open = !open">
                <div class="flex-row between">
                    <p class="question">Do you also provide website copy?</p>
                    <img src="/img/chevron.svg" alt="">
                </div>
                <p class="answer mt-20" x-show.transition="open">No, the client is responsible for providing all written content for the website. If you need help, I know a lot of talented copywriters who'll be more than willing to lend you a hand for an additional cost.</p>
            </div>
            <div class="accordion mb-20" x-data="{ open: false }" @click="open = !open">
                <div class="flex-row between">
                    <p class="question">Will I be able to manage my own website content?</p>
                    <img src="/img/chevron.svg" alt="">
                </div>
                <p class="answer mt-20" x-show.transition="open">Yes. Your website will be paired with a powerful, easy-to-use content management system (CMS) like <a href="https://wordpress.org">WordPress,</a> <a href="https://webflow.com/cms">Webflow,</a> or <a href="https://strapi.io">Strapi.</a> This ensures that you (or your team members) will be able to easily access and edit all of the content on your site. I'll also record a video training that will teach you how to use your CMS.</p>
            </div>
            <div class="accordion mb-20" x-data="{ open: false }" @click="open = !open">
                <div class="flex-row between">
                    <p class="question">Agency XYZ said they can build a website for $500. Why shouldn't I go with them?</p>
                    <img src="/img/chevron.svg" alt="">
                </div>
                <p class="answer mt-20" x-show.transition="open">You get what you pay for. Steer clear of anyone who tells you that they can build you a website for $500. Chances are, they'll either be using some kind of predesigned template or will outsource the work to an overseas WordPress mill. You won't have any custom design, and your website won't be optimized for SEO, conversions, or performance. In short, it will look like a $500 website.</p>
            </div>
            <div class="accordion mb-20" x-data="{ open: false }" @click="open = !open">
                <div class="flex-row between">
                    <p class="question">Can you maintain my website for me?</p>
                    <img src="/img/chevron.svg" alt="">
                </div>
                <p class="answer mt-20" x-show.transition="open">Sure, no problem! I offer ongoing support in the form of a monthly retainer package. If you're interested, we can talk about this further upon completion of the project.</p>
            </div>
        </div>
    </div>

</section>

{{ partial "cta.html" . }}

{{ end }}