<footer id="footer" aria-roledescription="footer">
    <div class="container">
        <div class="footer-grid">
            <div class="flex-row between">
                <div id="logo-block" class="footer-col">
                    <div class="footer-logo-wrapper">
                        <img src="/img/logo.svg" alt="" class="footer-logo mr-16">
                        <p class="logo-text">Alex Sanchez</p>
                    </div>
                </div>
                <div class="footer-menu-wrapper hidden-for-mobile">
                    <a href="/about" class="footer-link">About</a>
                    <a href="/blog" class="footer-link">Blog</a>
                    <a href="/" class="footer-link">Services</a>
                    <a href="/portfolio" class="footer-link">Portfolio</a>
                    <a href="/contact" class="footer-link">Contact</a>
                    <a href="/" class="btn btn--small">Hire me</a>
                </div>
            </div>
            <div class="flex-row start">
                <div class="footer-legal-wrapper">
                    <a href="/terms-of-use" class="mr-16">Terms of Use</a>
                    <a href="/privacy-policy" class="mr-16">Privacy</a>
                    <a href="/">Cookies</a>
                </div>
            </div>
            <div class="flex-row between">
                <div class="footer-copyright-wrapper">
                    <p>© 2021 ANSO Enterprises, LLC - All rights reserved</p>
                </div>
                <div class="footer-social-wrapper">
                    <p class="footer-social-text">Follow me on social media</p>
                    <a href="/" class="mr-16"><img src="/img/facebook-icon.svg" alt="" class="social-link"></a>
                    <a href="/" class="mr-16"><img src="/img/instagram-icon.svg" alt="" class="social-link"></a>
                    <a href="/" class="mr-16"><img src="/img/dribbble-icon.svg" alt="" class="social-link"></a>
                    <a href="/"><img src="/img/github-icon.svg" alt="" class="social-link"></a>
                </div>
            </div>
        </div>
    </div>
</footer>