<header aria-roledescription="header" id="header">

    <nav class="navigation">
        <div class="container">
            <a href="/" class="navigation__brand">
                <img src="/img/logo.svg" alt="Alex Sanchez logo">
            </a>

            <div class="navigation__menu hidden-for-mobile">
                <a href="/about">About</a>
                <a href="/blog">Blog</a>
                <a href="/services">Services</a>
                <a href="/portfolio">Portfolio</a>
                <a href="/contact">Contact</a>
            </div>

            <div class="navigation__cta hidden-for-mobile">
                <a href="#" class="btn btn--small">Hire me</a>
            </div>

            <div id="hamburger" class="navigation__hamburger hidden-for-desktop">
                <span></span>
                <span></span>
                <span></span>
            </div>

            <div id="mobile-menu" class="navigation__menu--mobile hidden-for-desktop">
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/blog">Blog</a>
                <a href="/">Services</a>
                <a href="/portfolio">Portfolio</a>
                <a href="/contact">Contact</a>
            </div>

        </div>
    </nav>
</header>

