<div id="sidebar">
    <div class="sidebar-card mb-40">
        <img src="/img/sidebar-photo.webp" alt="">
        <div class="card-content">
            <h3 class="mb-20">About Alex Sanchez</h3>
            <p class="mb-40">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, asperiores cum quisquam in ipsum natus quia eaque id, ut ea ex, amet cupiditate sint repudiandae commodi praesentium nostrum iste repellendus.</p>
            <a href="/" class="btn btn--outlined">Learn more</a>
        </div>
    </div>
    <div class="sidebar-form text-center">
        <h2 class="mb-20">Want to read more?</h2>
        <p class="mb-40">Sign up to my newsletter, and be the first to know when I release new blog posts just like this one.</p>
        {{ partial "newsletter.html" . }}
    </div>
</div>