{{ define "main" }}

<main aria-roledescription="main">

    <!-- HERO SECTION -->

    <section id="hero" class="section py-160">
        <div class="container">
            <div class="grid-cols-2">
                <div class="flex-col">
                    <h1 class="mb-20" data-sal="slide-up" data-sal-duration="600">Full-stack designer</h1>
                    <p class="subtitle mb-40" data-sal="slide-up" data-sal-delay="200" data-sal-duration="600">Maximize your business's potential with a blazing-fast, easy-to-use, SEO-friendly website built on the latest web technologies.</p>
                    <div class="flex-row mb-40" data-sal="fade" data-sal-delay="400" data-sal-duration="600">
                        <a href="#" class="btn btn--primary mr-16">Let's start</a>
                        <a href="#" class="btn btn--secondary">Tell me more</a>
                    </div>
                    <div class="flex-row start">
                        <div id="blob" class="is-pulsing mr-8"></div>
                        <p class="notice">Now booking clients for <span id="month">next month</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="squircle-wrapper">
            <div class="squircle blue -rotate-12 shadow-2xl"></div>
            <div class="squircle orange -rotate-45 shadow-2xl"></div>
        </div>
    </section>

    <!-- CLOUD SECTION -->

    <section id="cloud" class="section py-80">
        <div class="container">
            <div class="text-center mb-10">
                <p class="cloud-subtitle">As featured in:</p>
            </div>
            <div class="cloud-wrapper">
                <img src="/img/prototypr-logo.webp" alt="Prototypr logo">
                <img src="/img/uxplanet-logo.webp" alt="UX Planet logo">
                <img src="/img/bootcamp-logo.webp" alt="Bootcamp logo">
                <img src="/img/interfacely-logo.webp" alt="Interfacely logo">
                <img src="/img/ddi-logo.webp" alt="Data-Driven Investor logo">
            </div>
        </div>
    </section>

    <!-- STRIPE SECTION -->

    <section id="stripe" class="section py-80">
        <div class="tilt-wrapper top">
            <img src="/img/top-tilt.svg" alt="">
        </div>
        <div class="container">
            <div class="helmet mx-auto">
                <h2 class="mb-20" data-sal="slide-up" data-sal-duration="600">Ready to ditch the DIY website?</h2>
                <p class="subtitle mb-10" data-sal="slide-up" data-sal-delay="200" data-sal-duration="600">Sure, that $30 WordPress template might've worked just fine for you in the beginning. But now you're ready for more.</p>
                <p class="subtitle reveal" data-sal="slide-up" data-sal-delay="400" data-sal-duration="600">You're ready to grow, scale, and automate your business so that new leads actually start coming to you––instead of the other way around. And for that, you need a new website.</p>
            </div>
        </div>
        <div class="tilt-wrapper bottom">
            <img src="/img/bottom-tilt-gray.svg" alt="">
        </div>
    </section>

    <!-- SERVICES SECTION -->

    <section id="services" class="section bg-gray py-120">
        <div class="container">
            <div class="helmet-wide mx-auto mb-80">
                <p class="eyebrow mb-20" data-sal="slide-up" data-sal-duration="600">Services</p>
                <h2 class="mb-20" data-sal="slide-up" data-sal-delay="200" data-sal-duration="600">Here's what I can do for you</h2>
                <p class="subtitle mb-40" data-sal="slide-up" data-sal-delay="400" data-sal-duration="600">As a full-stack designer, I'm comfortable working in every stage of the design process--from initial brand strategy, to wireframing and design, and finally the actual development. This makes for a much smoother communication process for everyone involved.</p>
                <div class="flex-row" data-sal="slide-up" data-sal-delay="600" data-sal-duration="600">
                    <a href="/" class="link">Learn more</a>
                    <img src="/img/chevron.svg" alt="" class="chevron">
                </div>
            </div>
            <div class="grid-cols-3 mb-80" data-sal="fade" data-sal-delay="800" data-sal-duration="600">
                <a href="/" class="card services-card shadow-xl">
                    <div class="img-wrapper mx-auto shadow-xl mb-20">
                        <img src="/img/sketch-logo.webp" alt="">
                    </div>
                    <h3 class="mb-20">UI/UX Design</h3>
                    <p class="mb-20">Using extensive market research and strategy, I'll create a pixel-perfect mockup of your website for you to review.</p>
                    <div class="btn btn--outlined">Learn more</div>
                </a>
                <a href="/" class="card services-card shadow-xl" data-sal="fade">
                    <div class="img-wrapper mx-auto shadow-xl mb-20">
                        <img src="/img/origami-logo.webp" alt="">
                    </div>
                    <h3 class="mb-20">Prototyping</h3>
                    <p class="mb-20">Static mockups only go so far. My prototypes will also let you experience your new website before it's actually built.</p>
                    <div class="btn btn--outlined">Learn more</div>
                </a>
                <a href="/" class="card services-card shadow-xl" data-sal="fade">
                    <div class="img-wrapper mx-auto shadow-xl mb-20">
                        <img src="/img/webflow-logo.webp" alt="">
                    </div>
                    <h3 class="mb-20">Development</h3>
                    <p class="mb-20">With my knowledge of front-end development, I'll be able to ensure that your website will look good and work well, too.</p>
                    <div class="btn btn--outlined">Learn more</div>
                </a>
            </div>
            <div class="text-center">
                <a href="/" class="link link--small">Got something else in mind? Shoot me a message, and let's talk about it.</a>
            </div>
        </div>
    </section>

    <!-- PORTFOLIO SECTION -->
    
    <section id="portfolio" class="section py-120">
        <div class="tilt-wrapper top">
            <img src="/img/top-tilt-gray.svg" alt="">
        </div>
        <div class="container">
            <div class="helmet-wide mx-auto mb-80">
                <p class="eyebrow mb-20" data-sal="slide-up" data-sal-duration="600">Portfolio</p>
                <h2 class="mb-20" data-sal="slide-up" data-sal-delay="200" data-sal-duration="600">Check out some of my recent work</h2>
                <p class="subtitle mb-40" data-sal="slide-up" data-sal-delay="400" data-sal-duration="600">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, provident possimus? Dolor alias officiis tenetur aut exercitationem neque quaerat facilis at id fugit, rem fugiat dignissimos molestiae earum doloribus ratione?</p>
                <div class="flex-row" data-sal="slide-up" data-sal-delay="600" data-sal-duration="600">
                    <a href="/" class="link">Learn more</a>
                    <img src="/img/chevron.svg" alt="" class="chevron">
                </div>
            </div>
            <div class="grid-cols-shots" data-sal="fade" data-sal-delay="800" data-sal-duration="600">
                <a href="/" class="shot-wrapper shadow-2xl">
                    <img src="/img/bonmatin-thumb.webp" alt="" class="shot" loading="lazy">
                </a>
                <a href="/" class="shot-wrapper shadow-2xl">
                    <img src="/img/polyglot-thumb.webp" alt="" class="shot" loading="lazy">
                </a>
                <a href="/" class="shot-wrapper shadow-2xl">
                    <img src="/img/roam-thumb.webp" alt="" class="shot" loading="lazy">
                </a>
                <a href="/" class="shot-wrapper shadow-2xl">
                    <img src="/img/photo-thumb.webp" alt="" class="shot" loading="lazy">
                </a>
                <a href="/" class="shot-wrapper shadow-2xl">
                    <img src="/img/writenow-thumb.webp" alt="" class="shot" loading="lazy">
                </a>
                <a href="/" class="shot-wrapper shadow-2xl">
                    <img src="/img/portfolio-thumb.webp" alt="" class="shot" loading="lazy">
                </a>
            </div>
        </div>
    </section>

    <!-- TESTIMONIAL SECTION -->

    <section id="testimonial" class="section pt-80 pb-200">
        <div class="container">
            <div class="helmet-wide mx-auto" data-sal="fade" data-sal-duration="600">
                <p class="testimonial mb-40">Alex was tremendously helpful when we were updating our website! He gently walked us through understanding complicated processes and helped us realize why certain changes or decisions were important. <span>He is communicative, responsive, and easy to work with,</span> and we will definitely work with him again.</p>
                <div class="flex-row center">
                    <div class="avatar-wrapper shadow-lg mr-16">
                        <img src="/img/pardo.webp" alt="" class="avatar">
                    </div>
                    <div class="name-wrapper">
                        <p class="name mb-10">Beth Jackson-Pardo</p>
                        <p class="company">Project Self-Sufficiency OC</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {{ partial "cta.html" . }}

</main>

{{ end }}